.sub-footer{
    background-color: black;
    width: 100%;
    margin-top: 100px;
    padding-block: 50px;
}
.main-logo{
    display: flex;
    justify-content: center;
    align-self: center;
    height: 90px;
    width: 90px;
    margin-bottom: 50px;
}
.parent-link{
    display: flex;
    gap: 10px;
}
.facebook{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color: white;
    
}
.sub-footer-lable > ul{
    padding: 0;
    margin: 0;
}
.sub-footer-lable > ul > li > h4{
    color: white;
    margin-top: 20px;
}
.sub-footer-lable > ul > li{
    margin: 0 0 15px 0;
    display: flex;
    flex-direction: row;
    align-items: center;

}
.sub-footer-lable > ul > li > p{
    font-size: 16px;
    color: #fff;
    padding-bottom: 10px;
}
.sub-footer-lable > ul > li > a{
    font-size: 16px;
    margin-bottom: 0px;
    color: white;
    text-decoration: none;
}
.sub-footer-input{
    width: 100%;
    border-radius:  8px;
    color: #8c8c8c;
    border: none !important;
    background-color: transparent !important;
    padding: 10px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
}
.input-button{

    border-radius: 10px;
    background-color: #000000;
    padding: 7px 30px;
    border: none;
}
.input-button:hover{
    background-color: #000000;
}
.input-button  a{
    padding: 40px 20px;
    text-decoration: none;
    font-size: 20px;
    color: white;
}
.btn-outline-secondary {
    color: #fff;
    border-color: #FBCD39;
}

.footer-top {
    border-top: 0.75px solid white;
    /* padding: 10px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-inline: 100px;
    background-color: black;
    padding-block: 20px;
}
.footer p{
    color: white;
    /* padding-inline: 40px; */
    font-size: 16px;

}
.foter-main{
    display: flex;
    margin: 0;
    padding: 0;    
}
.foter-main p{
    margin:0;
    padding: 0;

}
.foter-main a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}
.sub{
    color: #fff;
    padding-inline: 30px;
}
.footer{
    display: flex;
    justify-content: space-between;
}
.form-control:focus{
    outline: none !important;
}
.input-group>.form-control, .input-group>.form-floating, .input-group>.form-select{
height: 50px;
}
.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    margin-left: calc(var(--bs-border-width) * -1);
    border-top-left-radius: 8px;
    outline: none;
    border: none;
    border-bottom-left-radius: 8px;
}
.input-group{
    background-color: #fff;
    border-radius: 8px;
    padding: 5px;
}
.form-control{
    box-shadow: none !important;
}



/* .foter-main{
    display: flex;
    flex-direction: row;
} */
/* .foter-main{
    color: white;
    padding: 10px 90px;
}
.foter-main p{
    font-size: 16px;
}
.footer-right-side-one{
    color: white;
    display: flex;
    padding: 10px 90px;
}

.footer-right-side-two{
    color: white;
    padding: 0 50px;
} */

@media (max-width: 767px){

.footer-top {
    padding-inline: 0;
}
.sub {
    padding-inline: 10px;
}
.footer p {
    font-size: 13px;
}
.footer, .foter-main{
    justify-content: center !important;
    padding-bottom: 5px;
}
.foter-main a{
    font-size: 13px;
    padding-inline: 5px;
}
.form-control{
    width: 100% !important;
}

.input-group{
    flex-direction: column;
}
}
@media (min-width: 768px) and (max-width: 991px){
    /* .input-button {
        display: none;
    } */
    /* .footer p {
        padding: 10px 10px 0px;
    } */

}
@media (min-width: 992px) and (max-width: 1200px){
    /* .input-button {
        display: none;
    } */

}
@media (min-width: 1201px) and (max-width: 1400px){

}